    tr.odd {
  background-color: #EEEEEE;
}
table tr {
  border-color: #A0A0A0;
}
table tr td {
  border-color: #A0A0A0;
}
td {
  padding: 3px;
}
table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  border-color:#A0A0A0;
}
.table th, .table td {
  vertical-align: middle;
}
button, input, select, textarea {
    margin: 0;
}
tr.selected_tr,tr.odd.selected_tr
{
background-color:#ccc;
cursor:pointer;
}

.ui-tabs .ui-tabs-panel {
  background: none repeat scroll 0 0 transparent;
  border-width: 0;
  display: block;
  padding: 1em 1.4em 1em 0;
}
.elrte-image-src-fm .ui-state-default {
  float: right;
  margin-right: 20px;
}
#el-df-tab-main input[type="text"]
{
    width:90%;
}
#el-df-tab-main td span input[type="text"]
{
    width:10%;
}
#el-df-tab-main div.el-paddinginput input[type="text"]
{
    width:30px;
}
#el-df-tab-main div.el-borderselect input[type="text"]
{
    width:30px;
}
.elrte-image-preview {
  height: 240px;
  overflow: auto;
  width: 460px;
}

.el-dialogform-content input, textarea, select, .uneditable-input {
  width: auto;
  height:auto;
  margin:auto;
  font-size:12px;
  padding:0px;
}

.el-df-tab-adv input, textarea, select, .uneditable-input {
  width: auto;
  height:auto;
  margin:auto;
  font-size:12px;
  padding:0px;
}

.el-dialogform-content select {
  width: auto;
  height:auto;
  margin:auto;
  font-size:12px;
  padding:0px;
}

legend
{
  width: auto;
  height:auto;
  margin:auto;
  font-size:12px;
  padding:0px;
}
.el-dialogform, .el-dialogform td {
  font-size: 12px;
}
.elrte-image-preview {
  font-size: 12px;

}

.el-dialogform fieldset legend {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  font-size: 12px;
  height: 18px;
  line-height: 16px;
}
.ui-dialog .ui-dialog-title, .ui-dialog .ui-dialog-content {
  margin-left:-10px
}
body.el-rte-structure { white-space: pre-wrap; }

span.cke_skin_kama {
  border:none;
}

/* Стили для jQuery UI Datepicker */
#datepicker_div, .datepicker_inline {
	font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0;
	margin: 0;
	background: #DDD;
	width: 185px;
}
#datepicker_div {
	display: none;
	border: 1px solid #FF9900;
	z-index: 10;
}
.datepicker_inline {
	float: left;
	display: block;
	border: 0;
}
.datepicker_dialog {
	padding: 5px !important;
	border: 4px ridge #DDD !important;
}
button.datepicker_trigger {
	width: 25px;
}
img.datepicker_trigger {
	margin: 2px;
	vertical-align: middle;
}
.datepicker_prompt {
	float: left;
	padding: 2px;
	background: #DDD;
	color: #000;
}
*html .datepicker_prompt {
	width: 185px;
}
.datepicker_control, .datepicker_links, .datepicker_header, .datepicker {
	clear: both;
	float: left;
	width: 100%;
	color: #FFF;
}
.datepicker_control {
	background: #FF9900;
	padding: 2px 0px;
}
.datepicker_links {
	background: #E0F4D7;
	padding: 2px 0px;
}
.datepicker_control, .datepicker_links {
	font-weight: bold;
	font-size: 80%;
	letter-spacing: 1px;
}
.datepicker_links label {
	padding: 2px 5px;
	color: #888;
}
.datepicker_clear, .datepicker_prev {
	float: left;
	width: 34%;
}
.datepicker_current {
	float: left;
	width: 30%;
	text-align: center;
}
.datepicker_close, .datepicker_next {
	float: right;
	width: 34%;
	text-align: right;
}
.datepicker_header {
	padding: 1px 0 3px;
	background: #83C948;
	text-align: center;
	font-weight: bold;
	height: 1.3em;
}
.datepicker_header select {
	background: #83C948;
	color: #000;
	border: 0px;
	font-weight: bold;
}
.datepicker {
	background: #CCC;
	text-align: center;
	font-size: 100%;
}
.datepicker a {
	display: block;
	width: 100%;
}
.datepicker .datepicker_titleRow {
	background: #B1DB87;
	color: #000;
}
.datepicker .datepicker_daysRow {
	background: #FFF;
	color: #666;
}
.datepicker_weekCol {
	background: #B1DB87;
	color: #000;
}
.datepicker .datepicker_daysCell {
	color: #000;
	border: 1px solid #DDD;
}
#datepicker .datepicker_daysCell a {
	display: block;
}
.datepicker .datepicker_weekEndCell {
	background: #E0F4D7;
}
.datepicker .datepicker_daysCellOver {
	background: #FFF;
	border: 1px solid #777;
}
.datepicker .datepicker_unselectable {
	color: #888;
}
.datepicker_today {
	background: #B1DB87 !important;
}
.datepicker_currentDay {
	background: #83C948 !important;
}
#datepicker_div a, .datepicker_inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: none;
	color: #000;
}
.datepicker_inline .datepicker_links a {
	padding: 0 5px !important;
}
.datepicker_control a, .datepicker_links a {
	padding: 2px 5px !important;
	color: #000 !important;
}
.datepicker_titleRow a {
	color: #000 !important;
}
.datepicker_control a:hover {
	background: #FDD !important;
	color: #333 !important;
}
.datepicker_links a:hover, .datepicker_titleRow a:hover {
	background: #FFF !important;
	color: #333 !important;
}
.datepicker_multi .datepicker {
	border: 1px solid #83C948;
}
.datepicker_oneMonth {
	float: left;
	width: 185px;
}
.datepicker_newRow {
	clear: left;
}
.datepicker_cover {
	display: none;
	display/**/: block;
	position: absolute;
	z-index: -1;
	filter: mask();
	top: -4px;
	left: -4px;
	width: 193px;
	height: 200px;
}
select
{
font-size:13px;
}
body {
  background-color: #FFFFFF;
  color: #333333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}
h3 {
  font-size: 18px;
  line-height: 27px;
}
h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  margin: 0;
  text-rendering: optimizelegibility;
}
.navbar {
  color: #999999;
}
.navbar-inner {
  background-color: #2C2C2C;
  background-image: -moz-linear-gradient(center top , #333333, #222222);
  background-repeat: repeat-x;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  min-height: 40px;
}
.navbar .brand {
  color: #999999;
  display: block;
  float: left;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  margin-left: -20px;
  padding: 8px 20px 12px;
  text-shadow:none;
}
.navbar .nav > li > a {
  color: #999999;
  float: none;
  line-height: 19px;
  padding: 9px 10px 11px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
  background-repeat: repeat-x;
  border-image: none;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  padding: 4px 10px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
}
.btn-group > .btn, .btn-group > .dropdown-menu {
  font-size: 14px;
}