DirectoryIndex index.html index.shtml index.pl index.cgi index.php
AddDefaultCharset windows-1251
RewriteEngine On
RewriteBase /
RewriteRule ^cron - [L]
RewriteRule ^upload - [L]
RewriteRule ^design - [L]
RewriteRule ^engine - [L]
RewriteRule ^adm(.*?)$ /engine/admin/$1 [L]
RewriteRule ^adm/(.*?)$ /engine/admin/$1 [L]
RewriteRule ^engine/admin - [L]
RewriteRule ^install - [L]
RewriteRule ^([A-Za-z_0-9/-]+).(txt|css|html|xml|class|jpg|jpeg|png|gif|ico)$  - [L]
RewriteRule ^adm([A-Za-z_0-9/-]+)$ /engine/admin/$1 [L]
RewriteRule ^adm/img/([A-Za-z_0-9/-]+).png$ /engine/admin/img/$1.png [L]
RewriteRule ^adm([A-Za-z_0-9/-]+).php$ /engine/admin/$1.php [L]
RewriteRule ^admin([A-Za-z_0-9/-]+)$ /engine/admin/$1 [L]
RewriteRule ^admin([A-Za-z_0-9/-]+).php$ /engine/admin/$1.php [L]
RewriteRule ^$ /engine/index.php?path=index&%{QUERY_STRING} [L]
RewriteRule ^(.*?)$ /engine/index.php?path=$1&%{QUERY_STRING} [L]
RewriteRule ^(.*?)$.* /engine/index.php?path=$1&%{QUERY_STRING} [L]
RewriteRule ^(.*?)$. /engine/index.php?path=$1&%{QUERY_STRING} [L]
RewriteRule ^(.*?)$.php /engine/index.php?path=$1&%{QUERY_STRING} [L]
RewriteRule ^index.php /engine/index.php?path=index&%{QUERY_STRING} [L]
RewriteRule ^(.*?)$/ /engine/index.php?path=$1&%{QUERY_STRING} [L]
ErrorDocument 404 /404/